[submodule "tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zplug"]
	path = zsh/.zplug
	url = https://github.com/zplug/zplug.git
[submodule "awesome"]
	path = awesome/.config/awesome
	url = https://github.com/copycat-killer/awesome-copycats
[submodule "awesome-overlay"]
	path = awesome-overlay/.config/awesome/termgrp
	url = https://github.com/wheatdog/awesome-termgrp
[submodule "tyrannical"]
	path = awesome-overlay/.config/awesome/tyrannical
	url = https://github.com/Elv13/tyrannical.git
[submodule "awesome-layout-machi/.config/awesome/layout-machi"]
	path = awesome-layout-machi/.config/awesome/layout-machi
	url = https://github.com/xinhaoyuan/layout-machi
