[submodule "tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zplug"]
	path = zsh/.zplug
	url = https://github.com/zplug/zplug.git
[submodule "awesome"]
	path = awesome/.config/awesome
	url = https://github.com/copycat-killer/awesome-copycats
[submodule "awesome-overlay"]
	path = awesome-overlay/.config/awesome/termgrp
	url = https://github.com/wheatdog/awesome-termgrp
[submodule "awesome-layout-machi/.config/awesome/layout-machi"]
	path = awesome-layout-machi/.config/awesome/layout-machi
	url = https://github.com/xinhaoyuan/layout-machi
[submodule "awesome-smart-borders/.config/awesome/smart_borders"]
	path = awesome-smart-borders/.config/awesome/smart_borders
	url = https://github.com/intrntbrn/smart_borders
[submodule "awesome-icon-customizer/.config/awesome/icon_customizer"]
	path = awesome-icon-customizer/.config/awesome/icon_customizer
	url = https://github.com/intrntbrn/icon_customizer
[submodule "awesome-vim-tmux-navigator/.config/awesome/awesomewm-vim-tmux-navigator"]
	path = awesome-vim-tmux-navigator/.config/awesome/awesomewm-vim-tmux-navigator
	url = https://github.com/intrntbrn/awesomewm-vim-tmux-navigator
[submodule "awesome-bling/.config/awesome/bling"]
	path = awesome-bling/.config/awesome/bling
	url = https://github.com/Nooo37/bling.git
[submodule "tmux/.tmux/plugins/extrakto"]
	path = tmux/.tmux/plugins/extrakto
	url = https://git::@github.com/laktak/extrakto
[submodule "tmux/.tmux/plugins/treemux"]
	path = tmux/.tmux/plugins/treemux
	url = https://git::@github.com/kiyoon/treemux
